language: android
dist: trusty
install: ant deps
sudo: true
android:
  components:
    - tools
    - platform-tools
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
    - 'android-sdk-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
before_install:
install:
  - echo y | sdkmanager "ndk;16.1.4479499"
  - echo y | sdkmanager "cmake;3.10.2.4988404"
    #  - sdkmanager --update
before_script:
