os: linux
language: android
dist: xenial
android:
  components:
    - build-tools-27.0.2
    - tools
    - platform-tools
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
    - 'android-sdk-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_install:
  - wget https://dl.google.com/android/repository/android-ndk-r16b-linux-x86_64.zip
  - unzip android-ndk-r16b-linux-x86_64.zip -d $HOME
  - export ANDROID_NDK_HOME=$HOME/android-ndk-r16b
  - export PATH=$PATH:$ANDROID_NDK_HOME
  - mkdir "$ANDROID_HOME/licenses" || true		
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"		
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"	

install:
  - echo y | sdkmanager "ndk;16.1.4479499"
  - echo y | sdkmanager "cmake;3.10.2.4988404"
    #  - sdkmanager --update
before_script:
script: echo $ANDROID_SDK
