os: linux
language: android
dist: xenial


cache:
  directories:
    - $HOME/.cache/pip

android:
  components:
    - build-tools-27.0.2
    - tools
    - platform-tools
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
    - 'android-sdk-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
before_install:
  - sudo add-apt-repository -y ppa:deadsnakes/ppa
  - sudo apt-get -q update
  - sudo apt-get -y install python3.7
  - wget https://dl.google.com/android/repository/android-ndk-r16b-linux-x86_64.zip
  - unzip android-ndk-r16b-linux-x86_64.zip -d $HOME
  - export ANDROID_NDK_HOME=$HOME/android-ndk-r16b
  - export NDK_ROOT=$ANDROID_NDK_HOME
  - export PATH=$PATH:$ANDROID_NDK_HOME
  - mkdir "$ANDROID_HOME/licenses" || true		
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"		
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"	

install:
  - pip3 install conan

before_script:
script: 
  - echo $ANDROID_NDK_HOME
  - conan install conanfile.txt --profile conon_armeabi-v7a.profile --build missing
