os: linux
language: android
dist: xenial
sudo: true
android:
  components:
    - build-tools-27.0.2
    - tools
    - platform-tools
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
    - 'android-sdk-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
before_install:
  - apt-get update
  - apt-get -y install ant
install:
  - echo y | sdkmanager "ndk;16.1.4479499"
#  - echo y | sdkmanager "cmake;3.10.2.4988404"
    #  - sdkmanager --update
before_script:
